@model IEnumerable<Product>


<div class="card-deck">


    @foreach (var product in Model)
    {


        <div class="card m-3">
            <div class="card-header">
                <h1>@product.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/noimage.png" />
                <h4>Price : @product.Price</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="product" asp-action="details" asp-route-id="@product.Id"  class="btn btn-primary">Order</a>

            </div>
        </div>

    }


</div>